body {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  position: fixed;
  width: 10px; /* Default size */
  height: 10px; /* Default size */
  border-radius: 50%; /* Makes it a circle */
  background-color: yellow; /* Set the color */
  pointer-events: none; /* Ensures it doesn't interfere with clicks */
  transform: translate(-50%, -50%); /* Centers the dot on the cursor */
  z-index: 10000; /* Ensures it stays on top of other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, height 0.3s; /* Smooth transition */
}

a {
  cursor: none !important; /* Prevent default cursor when hovering over links */
}

.custom-cursor.hover {
  width: 30px; /* Larger size */
  height: 30px; /* Larger size */
  background-color: #4bfe5a; /* change color of cursor hover */
}

/* Hide the smiley face by default */
.smiley {
  display: none;
  font-size: 12px;
  color: black;
}

.custom-cursor.hover .smiley {
  display: block; /* Show the smiley when hovering */
}

/* Hide the default cursor */
a, button, .interactive {
  cursor: none !important;
}

.custom-cursor.dragging {
  background-color: #4B0082; /* Change color during drag */
  width: 30px; /* Larger size */
  height: 30px; /* Larger size */
}

