.return-image {
    width: 50%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto; /* This will center the image */
  }

  .return-policy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .return-policy-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
  }
  
  .return-policy-card h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .return-policy-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  .return-policy-card p:first-of-type {
    margin-bottom: 20px; /* Add space after the first paragraph (Effective Date) */
  }

  .return-policy-card a {
    color: #007bff; /* Blue color */
    text-decoration: none; /* Remove underline */
  }
  
  .return-policy-card a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  
  