.Construction-floating-card {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #1c0e45;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
    margin-bottom: 200px; /* more space before the footer */
  }
  
  .Construction-floating-card:hover {
    border-color: #fef74b; 
  }

  .Construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Construction-gear-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .Construction-gear {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid #fef74b;
    border-radius: 50%;
    transform-origin: center;
    animation: spin 3s linear infinite;
    background-color: transparent;
  }
  
  .Construction-gear::before, .Construction-gear::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #4bfe5a;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Construction-gear::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%) rotate(45deg);
  }
  
  .Construction-gear::after {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
  }
  
  .Construction-gear1 {
    animation-delay: 0s;
  }
  .Construction-gear2 {
    animation-delay: 0.5s;
    border: 5px solid #504081;
  }
  .Construction-gear3 {
    animation-delay: 1s;
    border: 5px solid #efe1ff;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .Construction-message {
    font-size: 1.0rem;
    color: #efe1ff;
    margin-top: 10px;
  }
  