.crocheted-card {
    width: 90%;               
    max-width: 500px;         
    height: auto;             
    padding: 15px;
    margin: 20px auto;        
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#d4f7cf;
    box-sizing: border-box;
}

.crocheted-image-row {
    display: flex;
    flex-direction: column;       
    align-items: center;
    justify-content: center;
    gap: 10px;                    
    margin-bottom: 10px;
}

.crocheted-arrows-container {
    display: flex;
    gap: 10px;                    
    justify-content: center;
    width: 100%;
}

.crocheted-arrow {
    background: rgba(255,255,255,0.8);
    border: none;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 20px;
    flex-shrink: 0;               
}

.crocheted-image-container {
    width: 100%;
    max-width: 330px;             
    aspect-ratio: 1 / 1;          
    flex-shrink: 0;
}

.crocheted-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.crocheted-title {
    margin: 10px 0 5px;
    font-size: 18px;
}

.crocheted-button {
    padding: 10px 16px;
    background-color: #e5e778;
    color: rgb(32, 87, 7);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;               
    max-width: 300px;          
    margin: 0 auto;            
}

.crocheted-button:hover {
    background-color: #504081;
    border: 2px solid #fef74b;
    color: white;
}

.crocheted-badges-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 8px 0;
    justify-content: center;
}

.crocheted-badge {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
}

.crocheted-badge.category {
    background-color: #3b82f6;
    color: white;
}

.crocheted-badge.tag {
    background-color: #10b981;
    color: white;
}