/* Newsletter form */
  .newsletter-image {
    width: 40%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;

  }
  
/* Add this CSS to style the floating card */
.newsletter-floating-card {
  background: #504081;
  box-shadow: 0px 0px 30px #fef74b;
  padding: 20px;
  border-radius: 8px;
  width: 100vw; /* Full width of the viewport */
  max-width: 80%;
  margin: 50px auto;
  position: relative;
  z-index: 10;
  animation: float 3s ease-in-out infinite;
  
}

.newsletter-floating-card form {
  display: flex;
  flex-direction: column;
}

.newsletter-floating-card label {
  margin-bottom: 5px;
  color: #fef74b;
}

.newsletter-floating-card input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.newsletter-floating-card button {
  padding: 10px;
  background-color: #fef74b;
  color: #504081;
  border: none;
  border-radius: 4px;
  margin-left: auto; /* Align left margin to auto */
  margin-right: auto; /* Align right margin to auto */
  margin-top: 20px;
  width: 40%;
}

.newsletter-floating-card button:hover {
  background-color: #efe1ff;
 
}



@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


/* Add these styles to your CSS */
.status-success {
  color: #4bfe5a; /* Green color */
}

.status-fail {
  color: #e53e3e; /* Red color */
}

.status-info {
  color: #fef74b; /* Yellow color */
}

