.cta {
    width: 100%; /* Full width of the viewport */
    max-width: 100%; /* Ensures it does not exceed the viewport width */
    border: 10px solid #504081; /* Initial border color */
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2), 0 -4px 12px rgba(0, 0, 0, 0.15);
    transition: border-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    padding: 20px; /* Padding inside the section */
    display: block; /* Ensures it takes the full width */
    margin: 0 auto; /* Centering */
    box-sizing: border-box; /* Includes padding in the width */
    margin-top: 40px;
    background: linear-gradient(135deg,rgb(198, 165, 244),rgb(83, 22, 148));
  }
  
  /* Hover effect */
  .cta:hover {
    border-color: #fef74b; /* Change border color to yellow on hover */
    transform: translateY(-8px); /* Lifts the card on hover */
  }