.ab-section2 {
    background-image: url('/images/aboutbackground2.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: 10px solid #504081;
    border-radius: 16px;
    padding: 40px;
    height: 750px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2), 0 -4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    color: #333;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
  }
  
  .ab-content2 {
    display: flex;
    flex-direction: column; /* Arranges text and image side by side */
    justify-content: space-between;
    align-items: flex-start; /* Aligns items to the top */
    width: 48%;
    margin-left: 140px;
    margin-top: -45px;
  }
  
  .text-section {
    max-width: 50%; /* Adjust width for the text section */
    padding-right: 20px; /* Space between text and image */
  }
  
  .image-section {
    max-width: 50%; /* Adjust width for the image section */
  }
  
  .image-section img {
    width: 100%; /* Makes the image responsive */
    border-radius: 8px;
    object-fit: cover; /* Ensures image fills its container without distortion */
  }
  
  .ab-section2:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3), 0 -8px 24px rgba(0, 0, 0, 0.25);
    border-color: #fef74b;
  }
  
  .ab-section2 h1, .ab-section2 p {
    color: #fff;
    text-align: left;
  }
  
  .ab-section2 h1 {
    margin-bottom: 1rem; /* Adds space between heading and paragraph */
  }
  
  .ab-section2 p {
    margin-top: 1rem;
  }



  @media (max-width: 768px) {

    .ab-section2 {
        height: 775px;
    }
  
    .ab-content2 {
      max-width: 80%; /* Adjust width for smaller screens */
      padding: 0; /* Remove padding entirely to allow full-width usage */
      margin-left: 160px; /* Push the content to the right */
      margin-right: auto; /* Ensure it's aligned right */
      margin-top: -40px;
      margin-bottom: auto;
      font-size: 14px;
    }
  
    /* Make sure content can wrap to a new line */
  .ab-content2 h1, .ab-content2 p {
    word-wrap: break-word; /* Ensures long words break and don't overflow */
  }
  
  .ab-section2 h1, .ab-section2 p {
    color: #fff;
    text-align: left;
  }
  
  .ab-section2 p {
    margin-top: 1rem;
  }
  
  .ab-section2 {
    background-position: left;
    
  }
  }
  

  @media (min-width: 1024px) {
    .ab-content2 {
      font-size: 17px; /* Adjust this value as needed */
    }
  
    .ab-section2 p {
      font-size: 1.25rem; /* This increases the paragraph text size */
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .ab-content2 {
      font-size: 16px; /* Adjust this value as needed */
    }
  
    .ab-section2 p {
      font-size: 1rem; /* Adjust this value to control the paragraph text size */
    }
  }