.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  border: 10px solid #504081;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2), 0 -4px 12px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease, transform 0.3s ease;
  z-index: 1; /* Ensure the hero section stays on top */
}

.hero:hover {
  border-color: #fef74b; /* Change border color to yellow when hovered */
  transform: translateY(-8px); /* Lifts the card on hover */
  z-index: 2; /* Bring to the front when hovered */
}

.hero .relative.z-10 {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .hero {
    background-position: left center;
    align-items: flex-start;
    padding-top: 20px;
    height: 90vh;
  }

  .hero .relative.z-10 {
    margin-top: 20px;
    padding: 0 16px;
  }
}

@media (min-width: 1024px) {
  .hero .relative.z-10 {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
  }
}
